---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a30793f3d4a467f66cce3537e2626f00&exclude=minutely,alert&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650854366,"sunrise":1650802158,"sunset":1650851188,"temp":42.4,"feels_like":38.03,"pressure":1022,"humidity":65,"dew_point":31.55,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7,"wind_deg":292,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1650852000,"temp":43.12,"feels_like":35.56,"pressure":1022,"humidity":58,"dew_point":29.68,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.97,"wind_deg":70,"wind_gust":14.07,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.52},{"dt":1650855600,"temp":42.4,"feels_like":36.37,"pressure":1022,"humidity":65,"dew_point":31.55,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":10.65,"wind_deg":50,"wind_gust":12.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.43},{"dt":1650859200,"temp":42.24,"feels_like":36.95,"pressure":1023,"humidity":56,"dew_point":28.18,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.77,"wind_deg":49,"wind_gust":10.58,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.43},{"dt":1650862800,"temp":41.61,"feels_like":37.47,"pressure":1024,"humidity":48,"dew_point":24.39,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.33,"wind_deg":50,"wind_gust":7.38,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.43,"rain":{"1h":0.13}},{"dt":1650866400,"temp":40.68,"feels_like":37.6,"pressure":1024,"humidity":39,"dew_point":19.27,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":4.59,"wind_deg":58,"wind_gust":4.59,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.39},{"dt":1650870000,"temp":39.9,"feels_like":35.98,"pressure":1025,"humidity":30,"dew_point":13.28,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.5,"wind_deg":111,"wind_gust":4.34,"weather":[{"i[...]
